extends template

block menu
    +createMenu(2)

block content
    .main-block
        .content3
            .img1
                img(src='pict/webstorm.png')
            .img2
                img(src='pict/html.jpg')
            .img3
                img(src='pict/node-js.png')
            .img4
                img(src='pict/css1.jpg')
            .img5
                img(src='pict/gulp.jpg')
            .img6
                img(src='pict/gulp-2x.png')
